body{
    display: flex;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#page{
    background-color: lightcoral;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

img{
    width: 350px;
    height: auto;
    overflow: hidden;
    flex-shrink: 0;
}

#words{
    background-color: navy;
    color: white;
    flex-grow: 1;
    width: 100%;
}

#inputs{
    background-color: lightblue;
    color: navy;
    flex-grow: 1;
    display: flex;
}

fieldset{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    height: 180px;
    width: 600px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    width: 200px;
}

#create-acct{
    background-color: navy;
    color: white;
    flex-grow: 1;
}